@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

$background-color: #fafafa;
$font-color: #1a202c;

$toggle-background-color-on: #007bff;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 35px;
$toggle-height: 20px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);


@media (prefers-color-scheme: dark) {
    html[theme='dark-theme'] {
        filter: invert(1) hue-rotate(180deg);

        .not-darken{
            filter: invert(1) hue-rotate(180deg);
        }
    }
}

body {
    font-family: 'Nunito', sans-serif !important;
    color: $font-color !important;
    background-color: $background-color !important;
}

.main-body {
    padding: 15px;
}

.nav-link {
    color: #4a5568;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.nav i {
    font-size: 1.5em;
}

.toggle-control {
    display: block;
    position: relative;
    padding-left: $toggle-width;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked ~ .control {
        background-color: $toggle-background-color-on;

        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }

    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;

        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}

.home-full-height{
    background: #213138;
    color: $light;

    @include media-breakpoint-up(md){
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .logo{
        display: block;
        margin: 0 auto 1rem;
        max-width: 120px;
        height: auto;
    }

    .content-area{
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar{
        background: rgba(black, 0.1);
        padding: 2rem 1rem;
        height: 100vh;
        overflow: auto;

        @include media-breakpoint-up(md){
            height: auto;
        }

        .title{
            text-align: center;
        }

        .home-links{
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                padding: 0;
                margin: 0.2rem 0;
            }

            a{
                position: relative;
                display: block;
                font-size: 1.4rem;
                color: $light;
                text-decoration: none;
                padding: 0.6rem 0.6rem 0.6rem 84px;
                background: rgba(black, 0.2);
                transition: background-color .3s;

                &:hover{
                    background: rgba(black, 0.4);
                }

                small{
                    font-size: 0.8rem;
                    display: block;
                }

                .icon{
                    position: absolute;
                    left: 22px;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 42px;
                    height: auto;
                }
            }
        }
    }
}
